.favorites__title{
    color:red;
    width: 656px;
}

.favorites__text{
    width: 656px;
}

.favorites__img{
    width: 315px;
}

.favorites{
    background-color: black;
}

// margin-left: 215px;
// margin-right: 215px;
// margin-top: 56px;
// padding-bottom: 94px;
// display: flex;
// flex-wrap: wrap;
// gap: 10px;