.hero {
    &>.container{
        position: relative;
    }
    padding: 60px 0 50px;

    @media screen and (min-width: 768px) {
        padding-bottom: 37px;
    }

    @media screen and (min-width: 1280px) {
        padding: 159px 0 3px;
    }

    &__title {
        @include text-style(700, 28px, 1.18);

        @media screen and (min-width: 768px) {
            @include text-style(700, 42px, 1.2);
            width: 537px;
        }

        @media screen and (min-width: 1280px) {
            font-size: 48px;
            width: 502.42px;
        }
    }

    &__description {
        @include text-style(400, 14px, 1.5);
        margin-top: 28px;

        @media screen and (min-width:768px) {
            font-size: 16px;
            margin-top: 44px;
            width: 336px;
        }

        @media screen and (min-width: 1280px) {
            margin-top: 28px;
            width: 502px;
        }
    }

    &__button {
        @include text-style(500, 13px, 1.5);
        @include flex(center, center);
        width: 98px;
        height: 32px;
        background: $button-color;
        transition: all 0.2s ease-in-out;
        &:hover{
            background: $button-active-color;
            transition: all 0.2s ease-in-out;
        }
        border: 0;
        border-radius: 30px;
        margin-top: 28px;

        @media screen and (min-width:768px) {
            margin-top: 0;
            position: absolute;
            left: 32px;
            bottom: -72px;
        }

        @media screen and (min-width: 1280px) {
            position: static;
            margin-top: 40px;
        }
    }

    &__container{
        display: none;
        width: 320px;
        height: 320px;
        background: #FFFFFF;
        position: absolute;
        bottom: -145px;
        right: 32px;
    
        @media screen and (min-width: 768px) {
            display: block;
        }
    
        @media screen and (min-width:1280px) {
            top: -145px;
            bottom: 0;
            right: 16px;
            width: 608px;
            height: 580px;
        }
    }

    &__slide {
        border-radius: 50%;
        border: 14px solid $figures-color;
        display: none;
        width: 320px;
        height: 320px;

        @media screen and (min-width: 768px) {
            display: block;
        }

        @media screen and (min-width:1280px) {
            width: 608px;
            height: 580px;
        }
    }
}
.slick-prev, .slick-next{
    position: absolute;
    top: 50%;
    z-index: 500;
    width: 34px;
    height: 28px;
    color: transparent;
    padding: 8px 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border: 0;
    border-radius: 4px;
    background-color: #FFFFFF;
    transition: all 0.3s ease-out;
    &:active{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
    @media screen and (min-width: 1280px){
        width: 48px;
        height: 40px;
    }
}
.slick-prev {
    left: -8px;
    &::before {
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        border-left: 2px $maintext-color solid;
        border-top: 2px $maintext-color solid;
        transform: rotate(-45deg);
        transition: all 0.3s ease-out;
        @media screen and (min-width: 1280px) {
            width: 17px;
            height: 17px;
        }
    }
    &:hover {
        &::before {
            border-top-color: $footertext-color;
            border-left-color: $footertext-color;
            transition: all 0.3s ease-out;
        }
    }
    @media screen and (min-width: 1280px){
        left: -16px;
        padding: 12px 19px;
    }
}
.slick-next {
    right: -8px;
    &::before {
        display: block;
        content: '';
        width: 13px;
        height: 13px;
        border-right: 2px $maintext-color solid;
        border-top: 2px $maintext-color solid;
        transform: rotate(45deg);
        transition: all 0.3s ease-out;
        @media screen and (min-width: 1280px) {
            width: 17px;
            height: 17px;
        }
    }
    &:hover {
        &::before {
            border-top-color: $footertext-color;
            border-right-color: $footertext-color;
            transition: all 0.3s ease-out;
        }
    }
    @media screen and (min-width: 1280px){
        right: -16px;
        padding: 12px 11px;
    }
}