.offerings__title{
    text-align: right;
}

.offerings__text{
    text-align: right;
}

.offerings__title2{
    text-align: right;
}

.offerings__icon{
    text-align: right;
}

.offerings__button{
    text-align: right;
}