.offerings{
    background: url("../images/hero-background-mobile@1x.webp");
    background-size: 100% 1050px;
    height: 1050px;
    padding: 70.02px 0 60px;
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx){
        background-image:url(../images/hero-background-mobile@2x.webp);
    }
    @media screen and (min-width: 768px) {
        background: url("../images/hero-background-tablet@1x.webp");
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image:url(../images/hero-background-tablet@2x.webp);
        }
        background-size: 100% 1140px;
        padding: 187px 0 100px;
        height: 1140px;
        z-index: 1;
    }
    @media screen and (min-width: 1280px) {
        background: url("../images/hero-background-desktop@1x.webp");
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
            background-image:url(../images/hero-background-desktop@2x.webp);
        }
        background-size: 100% 824px;
        height: 824px;
        z-index: 1;
        padding: 177px 0 43px;
    }
    &__list{
        @include flex(center, center);
        @media screen and (min-width: 768px){
            justify-content: normal;
            height: 357px;
        }
        @media screen and (min-width: 1280px) {
            float: left;
            height: 550px;
        }
    }
    &__item:nth-child(1){
        width: 280px;
        height: 279.984px;
        border: 3px solid rgba(255, 255, 255, 0.5);
        padding: 12.22px;
        border-radius: 50%;
        @include flex(center, center);
        @media screen and (min-width: 768px){
            margin-right: 29px;
            width: 357px;
            height: 357px;
            padding: 15.58px;
        }
        @media screen and (min-width: 1280px) {
            width: 550px;
            height: 550px;
            margin-right: 90px;
            padding: 24px;
        }
    }
    &__item:nth-child(2) {
        display: none;
        @media screen and (min-width: 768px){
            display: block;
            width: 166px;
            height: 210.425px;
            margin-top: 79px;
            margin-bottom: 67.68px;
        }
        @media screen and (min-width: 1280px) {
            display: none;
        }
    }
    &__item:nth-child(3) {
        display: none;
        @media screen and (min-width: 768px){
            display: block;
            width: 108px;
            height: 136px;
            margin-top: 153px;
            margin-bottom: 68px;
            margin-left: 44px;
        }
        @media screen and (min-width: 1280px) {
            display: none;
        }
    }
    &__title{
        @include text-style(700, 28px, 1.18);
        margin-top: 60px;
        @media screen and (min-width: 768px){
            @include text-style(700, 42px, 1.18);
        
        }
        @media screen and (min-width: 1280px) {
            display: flex;
            width: 526.167px;
            flex-direction: column;
            padding-top: 30px;
        }
    }
    &__description {
        width: 100%;
        max-width: 440px;
        @include text-style(400, 14px, 1.14);
        margin-top: 28px;
        @media screen and (min-width: 768px){
            @include text-style(500, 16px, 1.18);
        }
        @media screen and (min-width: 1280px) {
            max-width: 550px;
            display: flex;
            flex-direction: column;
            @include text-style(400, 16px, 1.5);
        }
    }
    &__container{
        @include flex(center, center);
        gap: 24px;
        margin-top: 28px;
        width: 213px;
        @media screen and (min-width: 768px){
            margin-top: 40px;
        }
        @media screen and (min-width: 1280px) {
            justify-content: flex-start;
        }
    }
    &__but{
        width: 106px;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid $footertext-color;
        border-radius: 30px;
        @include text-style(500, 13px, 1.5);
        @include flex(center, center);
        transition: all 0.3s ease-in-out;
        &:hover{
            border: 2px solid $border-active-but-color;
            transition: all 0.3s ease-in-out;
        }
        @media screen and (min-width: 1280px) {

        }

    }
    &__link{
        width: 106px;
        height: 40px;
        @include text-style(400, 13.6667px, 1.5, #000);
        @include flex(space-between, center);
        gap: 3.42px;
        @media screen and (min-width: 1280px) {
            display: none;
    
        }
    }
 
}
.apple{
    border-radius: 50%;
    width: 255.56px;
    height: 255.55px;
    background-color: $background-color;
    position: relative;
    @media screen and (min-width: 768px){
        width: 325.844px;
        height: 325.844px;
        
    }
    @media screen and (min-width: 1280px) {
        width: 502px;
        height: 502px;
    }
    &__shadow{
        width: 128.29px;
        height: 44.29px;        
        background: $shadow-gradient;
        filter: blur(6.61818px);
        position: absolute;
        bottom: 25.96px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 2;
        @media screen and (min-width: 768px){
            width: 163.571px;
            height: 56.471px;
            bottom: 33.1px;
        }
        @media screen and (min-width: 1280px) {
            position: absolute;
            width: 252px;
            height: 87px;
            bottom: 51px;
        }
    }
    &__img{
        display: block;
        width: 202px;
        height: 256px;
        position: absolute;
        bottom: 41.23px;
        left: 0;
        right: 0;
        margin: 0 auto;
        z-index: 3;
        @media screen and (min-width: 768px){
            width: 258px;
            height: 326px;
            bottom: 52.42px;
        }
        @media screen and (min-width: 1280px) {
            width: 396px;
            height: 502px;
            bottom: 78px;
        }
    }
}
.benefits{
    margin-top: 28px;
    gap: 28px;
    @include flex(center, center, column);
    @media screen and (min-width: 768px){      
        margin-top: 40px;
        flex-flow: row;
    }
    @media screen and (min-width: 1280px) {
            
    }
    svg{
        width: 32px;
        height: 32px;
    }
    &__icon {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #FFFFFF;
        @include flex(center, center);
    }
    &__title {
        @include text-style(700, 18px, 1.17);
        margin-top: 8px;
    }

    &__description {
        @include text-style(400, 14px, 1.14);
        margin-top: 16px;
        @media screen and (min-width: 1280px) {
            @include text-style(400, 14px, 1.5);
        }
    }
}
.span{
    @media screen and (min-width: 768px){      
        display: block;
    }
    @media screen and (min-width: 1280px) {
            
    }
}
