.offerings{
    background: url("../images/hero-background-mobile@1x.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 480px 1050px;
    height: 1050px;
    padding: 70.02px 0 60px;
    &__list{
        @include flex(center, center);
    }
    &__item:nth-child(1){
        width: 280px;
        height: 279.98px;
        border: 3px solid rgba(255, 255, 255, 0.5);
        padding: 12.22px;
        border-radius: 50%;
        @include flex(center, center);
    }
    &__item:nth-child(2) {
        display: none;
    }
    &__item:nth-child(3) {
        display: none;
    }
    &__title{
        @include text-style(700, 28px, 1.18);
        margin-top: 60px;
    }
    &__description {
        width: 100%;
        max-width: 440px;
        @include text-style(400, 14px, 1.14);
        margin-top: 28px;
    }
    &__container{
        @include flex(center, center);
        gap: 24px;
        margin-top: 28px;
        width: 213px;
    }
    &__but{
        width: 106px;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid $footertext-color;
        border-radius: 30px;
        @include text-style(500, 13px, 1.5);
        @include flex(center, center);
        transition: all 0.3s ease-in-out;
        &:hover{
            border: 2px solid $border-active-but-color;
            transition: all 0.3s ease-in-out;
        }
    }
    &__link{
        width: 106px;
        height: 40px;
        @include text-style(400, 13.6667px, 1.5, #000);
        @include flex(space-between, center);
        gap: 3.42px;
    }
}
.apple{
    border-radius: 50%;
    width: 255.56px;
    height: 255.55px;
    background-color: $background-color;
    position: relative;
    &__shadow{
        width: 128.29px;
        height: 44.29px;        
        background: $shadow-gradient;
        filter: blur(6.61818px);
        position: absolute;
        bottom: 25.96px;
        left: 66.69px;
        z-index: 2;
    }
    &__img{
        display: block;
        width: 202px;
        height: 256px;
        position: absolute;
        bottom: 41.23px;
        left: 30.03px;
        z-index: 3;
    }
}
.benefits{
    margin-top: 28px;
    gap: 28px;
    @include flex(center, center, column);
    &__svg{
        width: 32px;
        height: 32px;
    }
    &__icon {
        display: block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #FFFFFF;
        @include flex(center, center);
    }
    &__title {
        @include text-style(700, 18px, 1.17);
        margin-top: 8px;
    }

    &__description {
        @include text-style(400, 14px, 1.14);
        margin-top: 16px;
    }
}