@import '~node_modules/modern-normalize/modern-normalize.css';
.container {
  width: 100%;
  outline: solid green;
  padding: 0 20px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
    padding: 0 16px;
  }
}

*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
button{
  display: block;
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}