$maintext-color: #2C2C2C;
$footertext-color: #7EB101;
$hoover-color: #BBF330;
$button-active-color: #B5FF00;
$border-active-but-color: #597D00;
$button-color: #BBF330;
$placeholder-color: #C4C4C4;
$email-color: #505050;
$figures-color: #FFE550;
$background-color: #FEFEFE;
$shadow-gradient: radial-gradient(50% 50% at 50% 50%, #2F583F 0%, rgba(105, 105, 105, 0) 100%);