<section class="customers" id="customers">
  <div class="container">
    <h2 class="customers__title" data-aos="fade-down" data-aos-duration="900">What our Customers Say</h2>
    <p class="customers__description" data-aos="fade-up" data-aos-duration="900">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="customers__list">
      <li class="customers__item" data-aos="flip-up" data-aos-duration="900">
        <ul class="stars__list" data-aos="fade-left" data-aos-duration="1200">
          <li class="stars__item">
            <svg class="stars__star">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>     
          <li class="stars__item">
            <svg class="stars__star">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="stars__star">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="stars__star">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="stars__item">
            <svg class="stars__star">
              <use href="./images/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="customers__comment" data-aos="zoom-in" data-aos-duration="1200">“The Best app I have used to order food in a while, so <span class="newline"> many options to choose from too, I would recommend to a freind, No questions asked”</span></p>
        <div class="customers__user" data-aos="fade-left" data-aos-duration="1200">
            <img class="customers__img" src="./images/man@1x.webp" alt="male">
            <ul class="customers__info">
              <li class="info__item"><p class="customers__name">Sumith Shah</p></li>
              <li class="info__item"><p class="customers__nickname">Some Dude</p></li>
            </ul>
        </div>
      </li>
      <li class="customers__item" data-aos="flip-down" data-aos-duration="900">
          <ul class="stars__list" data-aos="fade-left" data-aos-duration="1200">
            <li class="stars__item">
              <svg class="stars__star">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__star">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__star">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__star">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="stars__item">
              <svg class="stars__star">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="customers__comment" data-aos="zoom-in" data-aos-duration="1200">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
          <div class="customers__user" data-aos="fade-left" data-aos-duration="1200">
            <img class="customers__img" src="./images/woman@1x.webp" alt="women">
            <ul class="customers__info">
              <li class="info__item"><p class="customers__name">Sumith Shah</p></li>
              <li class="info__item"><p class="customers__nickname">Some Dude</p></li>
            </ul>
          </div>
      </li>
    </ul>
  </div>
</section>