<section class="customers">
  <div class="container">
    <h2 class="customers__title">What our Customers Say</h2>
    <p class="customers__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="customers__list">
      <li class="customers__item">
        <ul class="stars__list">
          <li class="star__item">
            <svg class="stars__star">
              <use href="#"></use>
            </svg>
          </li>     
          <li class="star__item">
            <svg class="stars__star">
              <use href="#"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="stars__star">
              <use href="#"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="stars__star">
              <use href="#"></use>
            </svg>
          </li>
          <li class="star__item">
            <svg class="stars__star">
              <use href="#"></use>
            </svg>
          </li>
        </ul>
        <p class="customers__comment">“The Best app I have used to order food in a while, so many options to choose from too, I would recommend to a freind, No questions asked”</p>
        <div class="customers__user">
            <img class="customers__img" src="./" alt="male">
            <p class="customers__name">Sumith Shah</p>
            <p class="customers__nickname">Some Dude</p>
        </div>
      </li>
      <li class="customers__item">
        <ul class="star__list">
            <li class="star__item">
              <svg class="stars_star">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="stars__star">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="stars__star">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="stars__star">
                <use href="#"></use>
              </svg>
            </li>
            <li class="star__item">
              <svg class="stars__star">
                <use href="#"></use>
              </svg>
            </li>
          </ul>
          <p class="customers__comment">“The ease with which I can just go in and order what i want was amazing, It has been a very pleasant experience ordering from this app”</p>
          <div class="customers__user">
            <img class="customers__img" src="./" alt="women">
            <p class="customers__name">Sumith Shah</p>
            <p class="customers__nickname">Some Dude</p>
          </div>
      </li>
    </ul>
  </div>
</section>
