<section class="favorites" id="favorites">    
    <div class="container">
        <h2 class="favorites__title" data-aos="fade-down" data-aos-duration="900">
            Some of Our Favorites
        </h2>
        <p class="favorites__text" data-aos="fade-up" data-aos-duration="900">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <ul class="favorites__list" data-aos="zoom-in-up" data-aos-duration="900">
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/gamburger-desktop-@1x.webp 1x, ./images/gamburger-desktop-@2x.webp 2x" media="(min-width:1280px)">
                    <source srcset="./images/gamburger-tablet-@1x.webp 1x, ./images/gamburger-tablet-@2x.webp 2x" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/gamburger-mobile-@1x.webp" srcset="./images/gamburger-mobile-@1x.webp 1x, ./images/gamburger-mobile-@2x.webp 2x" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/pasta-desktop@1x.webp 1x, ./images/pasta-desktop@2x.webp 2x" media="(min-width:1280px)">
                    <source srcset="./images/pasta-tablet@1x.webp 1x, ./images/pasta-tablet@2x.webp 2x" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/pasta-mobile@1x.webp" srcset="./images/pasta-mobile@1x.webp 1x, ./images/pasta-mobile@2x.webp 2x" alt="pasta">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/pizza-desktop@1x.webp 1x, ./images/pizza-desktop@2x.webp 2x" media="(min-width:1280px)">
                    <source srcset="./images/pizza-tablet@1x.webp 1x, ./images/pizza-tablet@2x.webp 2x" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/pizza-mobile@1x.webp" srcset="./images/pizza-mobile@1x.webp 1x, ./images/pizza-mobile@2x.webp 2x" alt="pizza">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/chicken-desktop@1x.webp 1x, ./images/chicken-desktop@2x.webp 2x" media="(min-width:1280px)">
                    <img class="favorites__img" src="./images/chicken-tablet@1x.webp" srcset="./images/chicken-tablet@1x.webp 1x, ./images/chicken-tablet@2x.webp 2x" alt="chicken">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/salat-chiken-desktop@1x.webp 1x, ./images/salat-chiken-desktop@2x.webp 2x" media="(min-width:1280px)">
                    <img class="favorites__img" src="./images/salat-chiken-tablet@1x.webp" srcset="./images/salat-chiken-tablet@1x.webp 1x, ./images/salat-chiken-tablet@2x.webp 2x" alt="salat chiken">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/borshch-desktop@1x.webp 1x, ./images/borshch-desktop@2x.webp 2x" media="(min-width:1280px)">
                    <img class="favorites__img" src="./images/borshch-tablet@1x.webp" srcset="./images/borshch-tablet@1x.webp 1x, ./images/borshch-tablet@2x.webp 2x" alt="borshch">
                </picture>
            </li>
        </ul>
    </div>
</section>