<section class="favorites">
    
    <div class="container">
        <h2 class="favorites__title">
            Some of Our Favorites
        </h2>
        <p class="favorites__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <ul class="favorites__list">
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/gamburger-desktop-@1x.webp, ./images/gamburger-desktop-@2x.webp" media="(min-width:1200px)">
                    <source srcset="./images/gamburger-tablet-@1x.webp, ./images/gamburger-tablet-@2x.webp" media="(min-width: 768px)">
                    <source srcset="./images/gamburger-mobile-@1x.webp, ./images/gamburger-mobile-@2x.webp" media="(max-width: 767px)">
                    <img class="favorites__img" src="./images/gamburger-desktop-@1x.webp" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/pasta-desktop@1x.webp, ./images/pasta-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="./images/pasta-tablet@1x.webp, ./images/pasta-tablet@2x.webp" media="(min-width: 768px)">
                    <source srcset="./images/pasta-mobile@1x.webp, ./images/pasta-mobile@2x.webp" media="(max-width: 767px)">
                    <img class="favorites__img" src="./images/pasta-desktop@1x.webp" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/pizza-desktop@1x.webp, ./images/pizza-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="./images/pizza-tablet@1x.webp, ./images/pizza-tablet@2x.webp" media="(min-width: 768px)">
                    <source srcset="./images/pizza-mobile@1x.webp" media="(max-width: 767px)">
                    <img class="favorites__img" src="./images/pizza-desktop@1x.webp" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/chicken-desktop@1x.webp, ./images/chicken-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="./images/chicken-tablet@1x.webp, ./images/chicken-tablet@2x.webp" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/chicken-desktop@1x.webp" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/salat-chiken-desktop@1x.webp, ./images/salat-chiken-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="./images/salat-chiken-tablet@1x.webp, ./images/salat-chiken-tablet@2x.webp" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/salat-chiken-desktop@1x.webp" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="./images/borshch-desktop@1x.webp, ./images/borshch-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="./images/borshch-tablet@1x.webp, ./images/borshch-tablet@2x.webp" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/borshch-desktop@1x.webp" alt="gamburger">
                </picture>
            </li>
        </ul>
    </div>
</section>