<section class="favorites">
    <div class="container">
        <h2 class="favorites__title">
            Some of Our Favorites
        </h2>
        <p class="favorites__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <ul class="favorites__list">
            <li class="favorites__item">
                <picture>
                    <source srcset="../src/images/gamburger-desktop-@1x.webp, ../src/images/gamburger-desktop-@2x.webp" media="(min-width:1200px)">
                    <source srcset="../src/images/gamburger-tablet-@1x.webp, ../src/images/gamburger-tablet-@2x.webp" media="(min-width: 768px)">
                    <source srcset="../src/images/gamburger-mobile-@1x.webp, ../src/images/gamburger-mobile-@2x.webp" media="(max-width: 767px)">
                    <img class="favorites__img" src="./images/gamburger-test.png" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="../src/images/pasta-desktop@1x.webp, ../src/images/pasta-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="../src/images/pasta-tablet@1x.webp, ../src/images/pasta-tablet@2x.webp" media="(min-width: 768px)">
                    <source srcset="../src/images/pasta-mobile@1x.webp, ../src/images/pasta-mobile@2x.webp" media="(max-width: 767px)">
                    <img class="favorites__img" src="./images/gamburger-test.png" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="../src/images/pizza-desktop@1x.webp, ../src/images/pizza-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="../src/images/pizza-tablet@1x.webp, ../src/images/pizza-tablet@2x.webp" media="(min-width: 768px)">
                    <source srcset="../src/images/pizza-mobile@1x.webp, ../images/pizza-mobile@2x.webp" media="(max-width: 767px)">
                    <img class="favorites__img" src="./images/gamburger-test.png" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="../src/images/chicken-desktop@1x.webp, ../scr/images/chicken-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="../src/images/ctablethicken-@1x.webp, ../scr/images/chicken-tablet@2x.webp" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/gamburger-test.png" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="../src/salat-desktop@1x.webp, ../src/salat-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="../src/salat-tablet@1x.webp, ../src/salat-tablet@2x.webp" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/gamburger-test.png" alt="gamburger">
                </picture>
            </li>
            <li class="favorites__item">
                <picture>
                    <source srcset="../src/borshch-desktop@1x.webp, ../src/borshch-desktop@2x.webp" media="(min-width:1200px)">
                    <source srcset="../src/borshch-tablet@1x.webp, ../src/borshch-tablet@2x.webp" media="(min-width: 768px)">
                    <img class="favorites__img" src="./images/gamburger-test.png" alt="gamburger">
                </picture>
            </li>
        </ul>
    </div>
</section>