<footer class="footer">
  <div class="container">
    <div class="footer__container--1">
      <svg width="69px" height="51px" class="footer__svg">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <ul class="footer__pages">
        <li class="footer__page">
          <a href="#hero" class="footer__page--link">Home</a>
        </li>
        <li class="footer__page">
          <a href="#offerings" class="footer__page--link">About</a>
        </li>
        <li class="footer__page">
          <a href="#customers" class="footer__page--link">Service</a>
        </li>
        <li class="footer__page">
          <a href="#favorites" class="footer__page--link">Menu</a>
        </li>
        <li class="footer__page">
          <a href="#subscribe" class="footer__page--link">Contact</a>
        </li>
      </ul>
      <form class="footer__subscribe">
        <p class="footer__name">Subscribe</p>
        <input
          id="Email"
          type="email"
          class="footer__input"
          placeholder="Enter your email"
          required
        />
        <button type="submit" class="footer__button">Subscribe</button>
        <p class="footer__agree">
          By subscribing you agree to with our
          <a href="#" class="footer__priva">Privacy Policy</a>
        </p>
      </form>
    </div>
    <div class="footer__container--2">
      <ul class="footer__list">
        <li class="footer__item">
          <a href="#" class="footer__link">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Terms of Service</a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">Cookies Settings</a>
        </li>
      </ul>
      <p class="footer__text">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>