<header class="header">
    <div class="container">
        <svg width="66" height="52" class="header__svg">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <ul class="header__list">
            <li class="header__item">Home</li>
            <li class="header__item">About</li>
            <li class="header__item">Service</li>
            <li class="header__item">Menu</li>
            <li class="header__item">Contact</li>
        </ul>
        <button class="header__button" data-open-order type="button">Order Now</button>
        <button type="button" class="header__button-modal" data-open-menu>
            <svg class="header__open" width="28" height="28">
                <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>