<section class="hero">
    <div class="container">
        <h1 class="hero__title">
            Enjoy Your Favorite Food From Anywhere
        </h1>
        <p class="hero__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in eros elementum tristique.
            Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
        </p>
        <button class="hero__button" data-open-order type="button">
            Order Now
        </button>
        <div class="hero__slider">
            <picture>
                <source srcset="./images/bread-desktop@1x.webp 1x, ./images/bread-desktop@2x.webp 2x"
                    media="(min-width: 1280px)">
                <img srcset="./images/bread-tablet@1x.webp 1x, ./images/bread-tablet@2x.webp 2x"
                    src="./images/bread-desktop@1x.webp" alt="dish" class="hero__slide">
            </picture>
        </div>
    </div>
</section>