<div class="overlay is-hidden" data-overlay>
    <div class="menu">
        <button type="button" class="menu__button">
            <svg class="menu__close" width="12" height="12" data-close-menu>
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link" href="#hero">Home</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#offerings">About</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#customers">Service</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#favorites">Menu</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="#subscribe">Contact</a>
            </li>
        </ul>
    </div>
</div>