<div class="overlay is-hidden" data-overlay>
    <div class="menu">
        <button type="button" class="menu__button">
            <svg class="menu__close" width="20" height="20" data-close-menu>
                <use href="#"></use>
            </svg>
        </button>
        <ul class="menu__list">
            <li class="menu__item">
                <a class="menu__link">Home</a>
            </li>
            <li class="menu__item">
                <a class="menu__link">About</a>
            </li>
            <li class="menu__item">
                <a class="menu__link">Service</a>
            </li>
            <li class="menu__item">
                <a class="menu__link">Menu</a>
            </li>
            <li class="menu__item">
                <a class="menu__link">Contact</a>
            </li>
        </ul>
    </div>
</div>