<div class="backdrop " data-overlay-order>
  <section class="modal">
    <div class="container">
      <div class="modal__top">
        <h1 class="modal__title">Order Form</h1>
      <button class="modal__button" data-close-order>
        <svg class="modal__svg">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      </div>   
      <ul class="modal__list">
        <li class="modal__item">
          <p class="modal__name">Name</p>
          <input class="modal__input" type="text" placeholder="Your name" />
        </li>
        <li class="modal__item">
          <p class="modal__name">Phone number</p>
          <input
            class="modal__input"
            type="text"
            placeholder="+38(0_ _) _ _ _   _ _   _ _"
          />
        </li>
        <li class="modal__item">
          <p class="modal__name">E-mail</p>
          <input
            class="modal__input"
            type="text"
            placeholder="example@gmail.com"
          />
        </li>
      </ul>
      <button class="modal__send">Send</button>
    </div>
  </section>
</div>
