<div class="backdrop is-hidden" data-overlay-order>
  <section class="modal">
    <div class="container">
      <div class="modal__top">
        <h1 class="modal__title">Order Form</h1>
      <button class="modal__button" data-close-order>
        <svg class="modal__svg">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      </div>
      <form>
        <ul class="modal__list">
          <li class="modal__item">
            <p class="modal__name">Name</p>
            <input
              required
              class="modal__input"
              type="text"
              placeholder="Your name" 
            />
          </li>
          <li class="modal__item">
            <p class="modal__name">Phone number</p>
            <input
              required
              class="modal__input"
              type="tel"
              placeholder="+38(0_ _) _ _ _   _ _   _ _"
              pattern="\+38\(0\d{2}\)\s\d{3}\s\d{2}\s\d{2}"
            />
          </li>
          <li class="modal__item">
            <p class="modal__name">E-mail</p>
            <input
              required
              class="modal__input"
              type="email"
              placeholder="example@gmail.com"
            />
          </li>
        </ul>
        <button class="modal__send" type="submit">Send</button>
      </form>
    </div>
  </section>
</div>
