<section class="offerings" id="offerings">
    <div class="container">
        <ul class="offerings__list">
            <li class="offerings__item">
                <div class="apple">
                    <div class="apple__shadow"></div>
                    <picture>
                        <source srcset="./images/aple-desktop-@1x.webp 1x, ./images/aple-desktop-@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/aple-tablet-@1x.webp 1x, ./images/aple-tablet-@2x.webp 2x" media="(min-width: 768px)">
                        <img srcset="./images/aple-mobile@1x.webp 1x, ./images/aple-mobile@2x.webp 2x"
                            src="./images/aple-desktop-@1x.webp" alt="Apple" class="apple__img">
                    </picture>
                </div>
            </li>
            <li class="offerings__item">
                <img srcset="./images/aple-transparent-@1x.webp 1x, ./images/aple-transparent-@2x.webp 2x" src="./images/aple-transparent-@1x.webp"
                    alt="Apple transparent" class="offerings__img">
            </li>
            <li class="offerings__item">
                <img srcset="./images/aple-more-transparent-@1x.webp 1x, ./images/aple-more-transparent-@2x.webp 2x" src="./images/aple-more-transparent-@1x.webp"
                    alt="Apple more transparent" class="offerings__img">
            </li>
        </ul>
        <h2 class="offerings__title">What’s Special About Our Offerings</h2>
        <p class="offerings__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
        <ul class="benefits">
            <li class="benefits__item">
                <div class="benefits__icon">
                    <svg class="benefits__svg">
                        <use href="./images/sprite.svg#icon-rocket"></use>
                    </svg>
                </div>
                <h3 class="benefits__title">Fasest Delivery</h3>
                <p class="benefits__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
            <li class="benefits__item">
                <div class="benefits__icon">
                    <svg class="benefits__svg">
                        <use href="./images/sprite.svg#icon-touch"></use>
                    </svg>
                </div>
                <h3 class="benefits__title">Easy to order</h3>
                <p class="benefits__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros.</p>
            </li>
        </ul>
        <div class="offerings__container">
            <button class="offerings__but" type="button">Order Now</button>
            <a href="#" class="offerings__link">
                Read More
                <svg class="offerings__svg" width="13.67px" height="13.67px">
                    <use href="./images/sprite.svg#icon-angel-right"></use>
                </svg>
            </a>
        </div>
    </div>
</section>