<section class="offerings" id="offerings">
  <div class="container">
    <ul class="offerings__list" data-aos="fade-up" data-aos-duration="1100">
      <li class="offerings__item">
        <div class="apple">
          <div class="apple__shadow"></div>
          <picture>
            <source
              srcset="
                ./images/aple-desktop-@1x.webp 1x,
                ./images/aple-desktop-@2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/aple-tablet-@1x.webp 1x,
                ./images/aple-tablet-@2x.webp 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="
                ./images/aple-mobile@1x.webp 1x,
                ./images/aple-mobile@2x.webp 2x
              "
              src="./images/aple-desktop-@1x.webp"
              alt="Apple"
              class="apple__img"
              data-aos="zoom-in-up" data-aos-duration="1100"
            />
          </picture>
        </div>
      </li>
      <li class="offerings__item" data-aos="fade-left" data-aos-duration="1100">
        <img
          srcset="
            ./images/aple-transparent-@1x.webp 1x,
            ./images/aple-transparent-@2x.webp 2x
          "
          src="./images/aple-transparent-@1x.webp"
          alt="Apple transparent"
          class="offerings__img"
        />
      </li>
      <li class="offerings__item" data-aos="fade-right" data-aos-duration="1100">
        <img
          srcset="
            ./images/aple-more-transparent-@1x.webp 1x,
            ./images/aple-more-transparent-@2x.webp 2x
          "
          src="./images/aple-more-transparent-@1x.webp"
          alt="Apple more transparent"
          class="offerings__img"
        />
      </li>
    </ul>
    <div class="offerings__benefits">
      <h2 class="offerings__title" data-aos="fade-down" data-aos-duration="1100">
        What’s Special About Our <span class="span">Offerings</span>
      </h2>
      <p class="offerings__description" data-aos="fade-up" data-aos-duration="1100">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
      <ul class="benefits">
        <li class="benefits__item" data-aos="flip-left" data-aos-duration="1100">
          <div class="benefits__icon" data-aos="fade-left" data-aos-duration="1100">
            <svg class="benefits__svg">
              <use href="./images/sprite.svg#icon-rocket"></use>
            </svg>
          </div>
          <h3 class="benefits__title" data-aos="fade-up" data-aos-duration="1100">Fasest Delivery</h3>
          <p class="benefits__description" data-aos="fade-down" data-aos-duration="1100">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
        <li class="benefits__item" data-aos="flip-right" data-aos-duration="1100">
          <div class="benefits__icon" data-aos="fade-left" data-aos-duration="1100">
            <svg class="benefits__svg">
              <use href="./images/sprite.svg#icon-touch"></use>
            </svg>
          </div>
          <h3 class="benefits__title" data-aos="fade-up" data-aos-duration="1100">Easy to order</h3>
          <p class="benefits__description" data-aos="fade-down" data-aos-duration="1100">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
            varius enim in eros.
          </p>
        </li>
      </ul>
    </div>
    <div class="offerings__container" data-aos="fade-up" data-aos-duration="1100">
      <button class="offerings__but" data-open-order type="button" data-aos="fade-left" data-aos-duration="1100">Order Now</button>
      <a href="#subscribe" class="offerings__link" data-aos="fade-right" data-aos-duration="1100">
        Read More
        <svg class="offerings__svg" width="13.67px" height="13.67px">
          <use href="./images/sprite.svg#icon-angel-right"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
