<section class="subscribe">
    <img src="#" alt="Банан" class="subscribe__img">
    <h1 class="subscribe__title">
        Subscribe To Get Special Offers
    </h1>
    <p class="subscribe__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Suspendisse varius enim in eros elementum tristique.
    </p>
    <form action="GET" class="subscribe__form">
        <input type="text" class="subscribe__input" placeholder="Enter your email">
        <button class="subscribe__button">
            Subscribe
        </button>
    </form>
</section>