<section class="subscribe" id="subscribe">
    <div class="container">
        <picture>
            <source srcset="./images/banan-desktop-@1x.webp 1x, ./images/banan-desktop-@2x.webp 2x" media="(min-width: 1280px)">
            <source srcset="./images/banan-tablet-@1x.webp 1x, ./images/banan-tablet-@2x.webp 2x" media="(min-width: 768px)">
            <img srcset="./images/banan-mobile-@1x.webp 1x, ./images/banan-mobile-@2x.webp 2x"
                src="./images/banan-desktop-@1x.webp" alt="banana" class="subscribe__img">
        </picture>
        <h1 class="subscribe__title">
            Subscribe To Get Special Offers
        </h1>
        <p class="subscribe__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Suspendisse varius enim in eros elementum tristique.
        </p>
        <form class="subscribe__form">
            <input type="email" name="email" required class="subscribe__input" placeholder="Enter your email">
            <button class="subscribe__button" type="submit"HHG>
                Subscribe
            </button>
        </form>
    </div>
</section>